<div class="employee-container">
  <h2>EMPLOYEES LIST</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LASTNAME</th>
        <th>EMAIL</th>
      </tr>
    </thead>
    <tbody>
      @for (e of employees; track e.id) {
        <tr>
          <td>{{ e.id }}</td>
          <td>{{ e.firstname }}</td>
          <td>{{ e.lastname }}</td>
          <td>{{ e.email }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="product-container">
  <h2>PRODUCT LIST</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
      </tr>
    </thead>
    <tbody>
      @for (p of products; track p.id) {
        <tr>
          <td class="sku">{{ p.id }}</td>
          <td>{{ p.name }}</td>
          <td class="price">₱{{ p.price }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="user-container">
  <h2>DAILY QUOTES (LIMIT 5)</h2>
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>QUOTE</th>
        <th>AUTHOR</th>
      </tr>
    </thead>
    <tbody>
      @for (q of quotes; track q.id) {
        <tr>
          <td class="sku">#{{ q.id }}</td>
          <td class="desc">"{{ q.quote }}"</td>
          <td class="price" style="background: none; border: none;">— {{ q.author }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<router-outlet />
